@import '../../styles/main.scss';

.monochrome {
  position: relative;
  background-color: $monochrome-background-color;
  margin-bottom: 0;

  &__wrapper {
    position: relative;
    width: 100%;
    height: 52vh;
    padding: 0;

    @include on-tablet {
      height: 73vh;
    }

    @include on-tablet-big {
      height: 65vh;
    }

    @include on-desktop {
      height: 100%;
    }
  }

  @include only-mobile {
    &__background-small {
      display: block;
      position: absolute;
      width: 100%;
      height: 88%;
      top: 50px;
      object-fit: cover;
      object-position: 57%;
    }

    &__background-big {
      display: none;
    }
  }

  @include on-tablet {
    &__background-small {
      display: none;
    }

    &__background-big {
      display: block;
      position: absolute;
      height: 68vh;
      transform: scale(1);
      top: 5px;
      left: -42px;
      object-fit: cover;
    }

    &__display {
      display: none
    }
  }

  @include on-tablet-big {
    &__background-small {
      display: none;
    }

    &__background-big {
      height: 64vh;
      object-position: -422%;
      transform: scale(1.0);
    }

    &__display {
      display: none
    }
  }

  @include on-desktop {
    &__background-small {
      display: none;
    }
    
    &__background-big {
      width: 100%;
      object-fit: contain;
      transform: scale(1);
    }

    &__display {
      display: none;
    }
  }

  &__info {
    position: absolute;
    top: 24px;
    left: 0;
    padding-inline: 10px;

    @include on-tablet {
      top: 50px;
      text-align: center;
      width: 50%;
      left: 25%;
    }

    @include on-tablet-big {
      top: 50px;
      text-align: center;
      width: 50%;
      left: 25%;
    }

    @include on-desktop {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: 50px;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-size: 26px;
    line-height: 30px;

    @include on-desktop {
      font-size: 42px;
      line-height: 28px;
    }
  }

  &__subtitle {
    font-size: 14px;
    margin-bottom: 200px;
    line-height: 26px;

    @include on-desktop {
      font-size: 20px;
      line-height: 32px;
      width: 52%;
    }
  }

  &__display {

    &-icon {
      width: 46px;
      height: 24px;
    }

    &-title {
      font-weight: 600;
      font-size: 12px;
      margin-bottom: 5px;
    }

    &-subtitle {
      font-weight: 600;
      font-size: 12px;
      color: $second-text-color;
    }

  }


}