@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin on-tablet-big {
  @media (min-width: $tablet-big-min-width) and (max-width: calc(#{$desktop-min-width} - 1px)) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin only-mobile {
  @media (max-width: $large-mobile) {
    @content;
  }
}

@mixin mobile-between-375-425 {
  @media (min-width: calc(#{$medium-mobile} + 1px)) and (max-width: $large-mobile) {
    @content;
  }
}
@mixin mobile-between-375-425 {
  @media (min-width: calc(#{$medium-mobile} + 1px)) and (max-width: $large-mobile) {
    @content;
  }
  
}
@mixin mobile-between-320-375 {
  @media (min-width: calc(#{$small-mobile} + 1px)) and (max-width: $medium-mobile) {
    @content;
  }
}

@mixin mobile-to-375 {
  @media (max-width: $medium-mobile) {
    @content;
  }
}

@mixin mobile-320 {
  @media (max-width: $small-mobile) {
    @content;
  }
}

@mixin page-grid {
  display: grid;
  column-gap: 24px;
  grid-template-columns: repeat(1, 1fr);

  @include on-tablet {
    grid-template-columns: repeat(6, 1fr);
    // column-gap: 24px;
  }

  @include on-desktop {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 0.2fr 400px 1fr;
    column-gap: 20px;
  }
}