@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin only-mobile {
  @media (max-width: calc($tablet-min-width - 1px)) {
    @content;
  }
}

// @mixin page-grid {
//   $columns: 1;

//   display: grid;
//   justify-items: center;
//   justify-content: center;
//   row-gap: 40px;
//   grid-template-columns: repeat($columns, 1fr);

//   @include on-tablet {
//     $columns: 2;

//     column-gap: 16px;
//     grid-template-columns: repeat($columns, 1fr);
//   }

//   @media (min-width: 768px) {
//     $columns: 3;

//     grid-template-columns: repeat($columns, 1fr);
//   }

//   @include on-desktop {
//     $columns: 4;

//     grid-template-columns: repeat($columns, 1fr);
//   }
// }

@mixin page-grid {
  display: grid;
  column-gap: 24px;
  grid-template-columns: repeat(1, 1fr);

  // @include on-tablet {
  //   grid-template-columns: repeat(6, 1fr);
  //   column-gap: 24px;
  // }

  @include on-desktop {
    grid-template-columns: repeat(12, 1fr);
  }
}