* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Source', Arial,sans-serif;
  scroll-behavior: smooth;
  font-size: 16px;
}

h1 {
  font-family: 'Source', Arial,sans-serif;
  font-weight: 500;
  font-size: 18px;
  
  @include on-desktop {
    font-size: 20px;
  }
}

h2, h3, h4 {
  font-weight: 400;
}


