$tablet-min-width: 640px;
$desktop-min-width: 1200px;

$main-text-color:#000;
$second-text-color:#a8a8a8;

$main-background-color: #f2f2f2;

$button-text-color:#fff;
$button-color:#ea5212;
$button-color-hover:#0f1121;