$small-mobile: 320px;
$medium-mobile: 375px;
$tablet-min-width: 640px;
$desktop-min-width: 1200px;

$main-text-color:#000;
$second-text-color:#757575;
$dot-text-color: #666666;


$main-background-color: #f2f2f2;
$header-background-color: #ebebeb;
$monochrome-background-color: #ededed;

$white-color:#fff;
$button-color:#ea5212;
$button-color-hover:#0f1121;
$border-color:#d6d6d6;

$button-quiz-color:#e8e8e8;
$button-quiz-color-hover:#d9d9d9;


