@import '../../styles/main.scss';

.header {
  position: relative;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  background-color: $header-background-color;
  padding-bottom: 50px;

  &__nav {
    color: $second-text-color;

    @include on-tablet {
      height: 60px;
      margin-bottom: 450px;
    }

    @include on-desktop {
      height: 150px;
      margin-bottom: 260px;
    }
  
    &-list {
      display: flex;
      padding: 40px;
      width: 100%;
      justify-content: flex-start;
      gap: 20px;
    }
  
    &-item {
      display: flex;
      justify-content: space-between;
  
      @include on-desktop {
        font-size: 20px;
      }
  
      &--right {
        margin-left: auto;
        line-height: 24px;
        display: flex;
      }
    }

    &-link {
      text-decoration: underline;
      font-size: 20px;

      &--active {
        font-size: 20px;
        text-decoration: none;
      }
    }

    &-lr {
      display: flex;
      
      &-title {
        display: inline-block;
        text-decoration: underline;
        line-height: 24px;
        font-size: 18px;
        padding-right: 8px;

        @include on-desktop {
          font-size: 20px;
        }
      }

      &-cloud {
        width: 70px;
        height: 49px;
        padding-right: 8px;

        @include on-desktop {
          width: 90px;
          height: 59px;
          padding-right: 13px;
        }
      }

      &-icon {
        width: 15px;
        height: 15px;

        @include on-desktop {
          width: 18px;
          height: 18px;
        }
      }

      &-description {
        padding-top: 5px;
        line-height: 24px;
        display: block;
        text-decoration: none;
        width: 240px;
      }
    }

    @include only-mobile {
      display: none;
    }
  }

  &__content {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    
    &-title {
      margin: 0 auto;
      line-height: 30px;
      margin-bottom: 20px;
      width: 90%;

      @include mobile-to-375 {
        font-size: 16px;
      }

      @include on-tablet {
        width: 550px;
        margin-bottom: 40px;
      }
    
      @include on-desktop {
        width: 680px;
        margin-bottom: 70px;
        font-size: 20px;
      }

      &-special {
        font-weight: 700;
        font-size: 18px;
  
        @include on-desktop {
          font-size: 20px;
        }
      }
    }

    &-wrapper-button {
      display: flex;
      justify-content: center;
    }

    &-button {
      color: $white-color;
      line-height: 1.2;
      font-weight: 400;
      text-transform: uppercase;
      border-radius: 8px;
      background-color: $button-color;
      background-position: center center;
      border-color: transparent;
      border-style: solid;
      transition: background-color 0.03s ease-in-out, color 0.03s ease-in-out, border-color 0.03s ease-in-out;
      width: 143px;
      height: 55px;
      margin-bottom: 20px;

      @include on-tablet {
        margin-bottom: 50px;
      }

      @include on-desktop {
        width: 200px;
        height: 72px;
        margin-bottom: 150px;
      }

      &:hover {
        background-color: $button-color-hover;
      }
    }
  }

  &__footer {
    color: $second-text-color;
    padding-inline: 10px;
    
    @include on-desktop {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
    
    &-item {
      padding-block: 10px;
      display: flex;
      width: 100%;

      @include on-tablet {
        padding: 5px;
      }

      @include on-desktop {
        display: flex;
        width: 100%;
        padding: 20px 30px;
        border: solid 1px #d9d9d9;
      }
    }

    &-icon {
      width: 61px;
      height: 61px;
    }

    &-info {
      padding-left: 30px;
    }

    &-title {
      margin-bottom: 8px;

      @include on-tablet {
        font-size: 18px;
      }

      @include on-desktop {
        font-size: 20px;
        margin-bottom: 10px;
      }
    }

    &-description {
      margin-bottom: 10px;
      font-size: 13px;

      @include on-tablet {
        font-size: 18px;
      }

      @include on-desktop {
        font-size: 16px;
      }
    }
  }
}