@use '../../styles/main.scss';
@use '../../styles/variables.scss' as vars;
.header {
  position: relative;
  width: 100%;
  z-index: 1;
  overflow: hidden;

  &-nav {
    color: vars.$second-text-color;

    @mixin on-tablet {
      height: 60px;
      margin-bottom: 320px;
    }

    @mixin on-desktop {
      height: 150px;
      margin-bottom: 300px;
    }
  
    &__list {
      display: flex;
      padding: 40px;
      width: 100%;
      justify-content: flex-start;
      gap: 20px;
    }
  
    &__item {
      display: flex;
      justify-content: space-between;
  
      
      @mixin on-desktop {
        font-size: 20px;
      }
  
      &--right {
        margin-left: auto;
        line-height: 24px;
        display: flex;
      }
    }

    &__link {
      text-decoration: underline;
      font-size: 20px;

      &--active {
        font-size: 20px;
        text-decoration: none;
      }
    }

    &__lr {
      display: flex;
      
      &-title {
        display: inline-block;
        text-decoration: underline;
        line-height: 24px;
        font-size: 18px;
        padding-right: 8px;

        @mixin on-desktop {
          font-size: 20px;
        }
      }

      &-cloud {
        width: 70px;
        height: 49px;
        padding-right: 8px;

        @mixin on-desktop {
          width: 90px;
          height: 59px;
          padding-right: 13px;
        }
      }

      &-icon {
        width: 15px;
        height: 15px;

        @mixin on-desktop {
          width: 18px;
          height: 18px;
        }
      }

      &-description {
        padding-top: 5px;
        line-height: 24px;
        display: block;
        text-decoration: none;
        width: 240px;
      }
    }

    @mixin only-mobile {
      display: none;
    }
  }

 
  &-content {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    
    &__title {
      margin: 0 auto;
      font-size: 16px;
      
      line-height: 30px;
      font-weight: 400;
      margin-bottom: 20px;
      width: 300px;

      @mixin on-tablet {
        width: 550px;
        margin-bottom: 40px;
        font-size: 18px;

      }
    
      @mixin on-desktop {
        width: 680px;
        margin-bottom: 70px;
        font-size: 20px;
      }

      &-special {
        font-weight: 700;
        font-size: 18px;
  
        @mixin on-desktop {
          font-size: 20px;
        }
      }
    }

    &__wrapper-button {
      display: flex;
      justify-content: center;
   
    }

    &__button {
      color: vars.$white-color;
      line-height: 1.2;
      font-weight: 400;
      text-transform: uppercase;
      border-radius: 8px;
      background-color: vars.$button-color;
      background-position: center center;
      border-color: transparent;
      border-style: solid;
      transition: background-color 0.03s ease-in-out,color 0.03s ease-in-out,border-color 0.03s ease-in-out;
      width: 143px;
      height: 55px;
      
      margin-bottom: 20px;

      @mixin on-tablet {
        margin-bottom: 50px;
        
      }

      @mixin on-desktop {
        width: 200px;
        height: 72px;
        margin-bottom: 150px;
      }

      &:hover {
        background-color: vars.$button-color-hover;
      }
    }
  }

  &-footer{
    color: vars.$second-text-color;

    @mixin on-desktop {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
    
    &__item {
      padding-block: 10px;
      display: flex;
      width: 100%;

      @mixin on-tablet {
        padding: 5px;
      }
        

      @mixin on-desktop {
        display: flex;
        width: 100%;
        padding: 30px;
        border: solid 1px #d9d9d9;
      }
    }

    &__icon {
      width: 61px;
      height: 61px;
    }

    &__info {
      padding-left: 30px;
    }

    &__titile {

      @mixin on-tablet {
        font-size: 18px;
      }

      @mixin on-desktop {
        font-size: 20px;
        margin-bottom: 10px;
      }

    }

    &__description {
      margin-bottom: 10px;
      font-size: 13px;

      @mixin on-tablet {
        font-size: 14px;
      }

      @mixin on-desktop {
        font-size: 16px;
      }
    }
  }

}
  

  