@import '../../styles/main.scss';

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1;
  overflow: hidden;

  &-nav {
    color: $second-text-color;
    margin-bottom: 320px;

    @include on-tablet {
      height: 60px;
      margin-bottom: 320px;
    }

    @include on-desktop {
      height: 200px;
      margin-bottom: 300px;
    }
  
    &__list {
      display: flex;
      padding: 40px;
      width: 100%;
      justify-content: flex-start;
      gap: 20px;
    }
  
    &__item {
      display: flex;
      justify-content: space-between;
  
      
      @include on-desktop {
        font-size: 20px;
      }
  
      &--right {
        margin-left: auto;
        line-height: 24px;
      }
    }

    &__link {
      text-decoration: underline;

      &--active {
        text-decoration: none;
      }

      &-cloud {
        width: 90px;
        height: 50px;
      }

      &-description {
        text-decoration: none;
      }
    }
  }

  &-content {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    
    &__title {
      margin: 0 auto;
      
      line-height: 30px;
      font-weight: 400;
      margin-bottom: 50px;
      width: 300px;

      @include on-tablet {
        width: 550px;
      }
    
      @include on-desktop {
        width: 680px;
      }

      &-special {
        font-weight: 700;
        font-size: 18px;
  
        @include on-desktop {
          font-size: 20px;
        }
      }
    }

    &__wrapper-button {
      display: flex;
      justify-content: center;
   
    }

    &__button {
      color: $button-text-color;
      line-height: 1.2;
      font-weight: 400;
      text-transform: uppercase;
      border-radius: 8px;
      background-color: $button-color;
      background-position: center center;
      border-color: transparent;
      border-style: solid;
      transition: background-color 0.03s ease-in-out,color 0.03s ease-in-out,border-color 0.03s ease-in-out;
      width: 143px;
      height: 55px;
      
      margin-bottom: 20px; // ?

      @include on-tablet {
        margin-bottom: 50px;
        
      }

      @include on-desktop {
        width: 200px;
        height: 72px;
        margin-bottom: 190px;
      }

      &:hover {
        background-color: $button-color-hover;
      }
    }
  }

  &-footer{
    color: $second-text-color;

    @include on-desktop {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
    
    &__item {
 
      display: flex;
      width: 100%;
        

      @include on-desktop {
        display: flex;
        width: 100%;
        padding: 30px;
        border: solid 1px $second-text-color;
      }
    }

    &__icon {
      width: 61px;
      height: 61px;
    }

    &__info {
      padding-left: 30px;
    }

    &__titile {

      @include on-tablet {
        font-size: 18px;
      }

      @include on-desktop {
        font-size: 20px;
        margin-bottom: 10px;
      }

    }

    &__description {
      margin-bottom: 10px;
      font-size: 13px;

      @include on-tablet {
        font-size: 14px;
      }

      @include on-desktop {
        font-size: 16px;
      }
    }
  }
}
  

  