@import '../../styles/main.scss';

.footer {
  background-color: $black-color;
  color: $white-color;
  padding: 40px 15px 10px 15px;

  @include mobile-between-320-375 {
    padding: 40px 35px 10px 35px;
  }

  @include mobile-between-375-425 {
    padding: 40px 50px 50px 50px;
  }

  &__nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 20px;

    &-list {
      margin-bottom: 40px;
    }

    &-item {
      margin-bottom: 25px;
    }
  }


  &__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
    margin-bottom: 50px;

  }

  &__social-icon {
    width: 30px;
    height: 30px;
  }

  &__wrapper {
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
  }

  &__image {
    width: 100%;
    height: 100%;

  }

  &__text {
    padding-bottom: 15px;
    color: $footer-text-color;
  }

  &__text-item {
    font-size: 13px;
    margin-bottom: 5px;
  }
}