@import '../../styles/main.scss';

.controls {
  background-color: $main-background-color;

  &__title {
    font-size: 48px;
    line-height: 53px;
    text-align: center;
    margin-bottom: 20px;
  
    @include on-tablet {
      grid-column: 2 / 6;
    }

    @include on-desktop {
      grid-column: 2 / 12;
    }
  }

  &__subtitle {
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 40px;

    @include on-tablet {
      grid-column: 2 / 6;
    }

    
    @include on-desktop {
      grid-column: 4 / 10;
    }
  }

  &__wrapper {
    width: 100%;
    position: relative;

    @include on-tablet {
      grid-column: 2 / 6;
    }
  }

  &__lines-1 {
    position: relative;
  }

  &__block {
    &-1 {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      position: relative;
      z-index: 1;
    }

    &-2 {
      display: flex;
      justify-content: space-between;
      position: relative;
      z-index: 1;
      margin: 34px 0 70px;
    }
  }

  &__item {
  }

  &__text {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  &__icon {
    width: 26px;
    height: 26px;
    padding-right: 10px;
  }

  &__heading {
    font-size: 18px;
  }

  &__description {
    font-size: 12px;
    color: $second-text-color;

    margin-bottom: 20px;

    @include on-tablet {
      font-size: 14px;
    }
  }
  
  &__button-wrapper {
    @include on-tablet {
      grid-column: 2 / 6;
    }
  }


  &__button-start {
    display: flex;

    @include on-tablet-big {
      justify-content: center;
    }

    &-info {
      margin-top: 9px;
    }

    &-icon {
      width: 55px;
      height: 47px;
      margin-inline: 20px;
    }

    &-title {
      font-size: 18px;
      margin-bottom: 10px;
    }

    &-description {
      color: $second-text-color;
      font-size: 13px;
    }
  }

  &__button-back {
    margin: 0 auto;
    width: 42%;
    margin-bottom: 50px;

    @include on-tablet-big {
      width: 28%;
    }

    &-head {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-icon {
      margin-right: 7px;
      width: 22px;
      height: 22px;
    }

    &-title {
      font-size: 18px;
      display: flex;
      align-items: center;
    }

    &-description {
      font-size: 13px;
      color: $second-text-color;
      margin-top: 5px;

      @include on-tablet-big {
        padding-left: 28px;
      }
    }
  }

  &__scrols {
    display: flex;
    margin-left: 10px;

    @include on-tablet-big {
      justify-content: center;
    }

    &-icon {
      width: 50px;
      height: 50px;
      margin-right: 15px;
    }

    &-text {

      @include on-tablet-big {
        width: 40%;
      }
    }
    &-heading {
      font-size: 18px;
      margin-bottom: 5px;
    }

    &-description {
      color: $second-text-color;
      font-size: 13px;
    }
  }

  &__photo-2-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    margin: 80px 0 100px;
    height: 170px;

    @include on-tablet-big {
      height: 226px;
    }
  }

  &__photo {
    width: 100%;

    &-1 {
      height: 25vh;
      object-fit: cover;
      object-position: -4%;
      margin-block: 20px;
      overflow: hidden;
      height: 25vh;
      object-fit: cover;

      @include on-tablet-big {
        height: 28vh;
        object-position: -52%;
      }

      @include on-desktop {
        display: none;
      }
    }

    &-2 {
      object-fit: contain;
      transform: scale(2.4) translateY(-6%) translateX(1px);

      @include on-tablet-big {
        transform: scale(1.7) translateY(-3%) translateX(0px);
      }

      @include on-desktop {
        display: none;
      }
    }

    &-3 {
      height: 25vh;
      object-fit: cover;
      object-position: 105%;
      margin-bottom: 60px;


      @include on-tablet-big {
        height: 32vh;
        object-position: 99%;
      }

      @include on-desktop {
        // display: none;
      }
    }
  }
  @include mobile-320 {
    &__svg-mobileS {
      display: block;      
    }
    &__svg-mobileM {
      display: none;
    }
    &__svg-mobileL {
      display: none;
    }
    &__svg-tablet {
      display: none;
    }
  }
  @include mobile-between-320-375 {
    &__svg-mobileS {
      display: none;      
    }
    &__svg-mobileM {
      display: block;
    }
    &__svg-mobileL {
      display: none;
    }
    &__svg-tablet {
      display: none;
    }
  }
  @include mobile-between-375-425 {
    &__svg-mobileS {
      display: none;      
    }
    &__svg-mobileM {
      display: none;
    }
    &__svg-mobileL {
      display: block;
    }
    &__svg-tablet {
      display: none;
    }
  }
  @include on-tablet {
    &__svg-mobileS {
      display: none;      
    }
    &__svg-mobileM {
      display: none;
    }
    &__svg-mobileL {
      display: none;
    }
    &__svg-tablet {
      display: block;
    }
  }
  &__svg-mobileS {
    position: absolute;
    top: 5px;
    height: 100%;
    pointer-events: none;
    z-index: 2;

  }
  &__svg-mobileM {
    position: absolute;
    top: 5px;
    height: 100%;
    pointer-events: none;
    z-index: 2;
  }
  &__svg-mobileL {
    position: absolute;
    top: 5px;
    height: 100%;
    pointer-events: none;
    z-index: 2;
  }
  &__svg-tablet {
    position: absolute;
    top: 5px;
    height: 100%;
    pointer-events: none;
    z-index: 2;
  }
}
