@import '../../styles/main.scss';

.controls {
  background-color: $main-background-color;
  
  &__title {
    font-size: 48px;
    line-height: 53px;
    text-align: center;
    margin-bottom: 20px;
  
    @include on-tablet {
      grid-column: 2 / 6;
    }
   @include on-tablet-big {
      grid-column: 2 / 9;
    }
    @include on-desktop {
      grid-column: 2 / 12;
      grid-row: 1 / 1;
      margin: 50px 0 0 0;
    }
  }

  &__subtitle {
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 40px;

    @include on-tablet {
      grid-column: 2 / 6;
    }
   @include on-tablet-big {
      grid-column: 2 / 9;
    }
    
    @include on-desktop {
      grid-column: 4 / 10;
      grid-row: 1 / 1;
      margin: 133px 0 50px 0;
    }
  }

  &__wrapper {
    width: 100%;
    position: relative;

    @include on-tablet {
      grid-column: 2 / 6;
    }
   @include on-tablet-big {
      grid-column: 2 / 9;
    }

    @include on-desktop {
      grid-column: 1 / 4;
    }
  }

  &__lines-1 {
    position: relative;
  }

  &__block {
    &-1 {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      position: relative;
      z-index: 1;

      
      @include on-desktop {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        width: 80%;
      }
    }

    &-2 {
      display: flex;
      justify-content: space-between;
      position: relative;
      z-index: 1;
      margin: 34px 0 70px;

      @include on-desktop {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        width: 80%;
      }
    }
  }

  &__item {
  }

  &__text {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  &__icon {
    width: 26px;
    height: 26px;
    padding-right: 10px;
  }

  &__heading {
    font-size: 18px;
  }

  &__description {
    font-size: 12px;
    color: $second-text-color;

    margin-bottom: 20px;

    @include on-tablet {
      font-size: 14px;
    }
    @include on-tablet-big {
      font-size: 16px;
    }
  }
  
  &__button-wrapper {
    @include on-tablet {
      grid-column: 2 / 6;
    }
   @include on-tablet-big {
      grid-column: 2 / 9;
    }

    @include on-desktop {
      grid-column: 6 / 12;
      grid-row: 2 / 2;
      display: flex;
    }
  }


  &__button-start {
    display: flex;

    @include on-tablet-big {
      justify-content: center;
    }

    &-info {
      margin-top: 9px;
    }

    &-icon {
      width: 55px;
      height: 47px;
      margin-inline: 20px;

      @include on-tablet-big {
        width: 65px;
        height: 57px;
      }
    }

    &-title {
      font-size: 18px;
      margin-bottom: 10px;
    }

    &-description {
      color: $second-text-color;
      font-size: 13px;

      @include on-tablet-big {
        font-size: 16px;
      }
    }
  }

  &__button-back {
    margin: 0 auto;
    width: 42%;
    margin-bottom: 50px;

    @include on-tablet {
      width: 27%;
    }

    @include on-tablet-big {
      width: 28%;
    }

    @include on-desktop {
      margin-bottom: 364px;
      margin-left: 185px;
      width: 35%;
    }

    &-head {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-icon {
      margin-right: 7px;
      width: 22px;
      height: 22px;
    }

    &-title {
      font-size: 18px;
      display: flex;
      align-items: center;
    }

    &-description {
      font-size: 13px;
      color: $second-text-color;
      margin-top: 5px;

      @include on-tablet-big {
        padding-left: 28px;
      }
    }
  }

  &__scrols {
    display: flex;
    margin-left: 10px;

    @include on-tablet-big {
      justify-content: center;
    }

    @include on-desktop {
      margin-left: 130px;
    }

    &-icon {
      width: 50px;
      height: 50px;
      margin-right: 15px;
    }

    &-text {

      @include on-tablet-big {
        width: 40%;
      }
    }
    &-heading {
      font-size: 18px;
      margin-bottom: 5px;
    }

    &-description {
      color: $second-text-color;
      font-size: 13px;
    }
  }

  &__selector {
    display: none;

    @include on-desktop{
      grid-column: 5 / 7;
      display: flex;
      margin-top: 26px;

      &-icon {
        width: 50px;
        height: 50px;
        margin-right: 15px;
      }

      &-heading {
        font-size: 18px;
      }

      &-description {
        margin-top: 5px;
        font-size: 14px;
        color: $second-text-color;
      }

    }
  }

  &__photo-2-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    margin: 80px 0 100px;
    height: 170px;

    @include on-tablet-big {
      height: 226px;
    }

    @include on-desktop {
      display: none;
    }
  }

  &__photo-wrapper-desktop {
    display: none;

    @include on-desktop {
      display: block;
      grid-column: 4 / 12;
      grid-row: 2 / 2; 
      margin-top: 140px;
    }
  }

  &__photo-desktop {
    width: 100%;
    height: 26vh;
  }


  &__photo {
    width: 100%;

    &-1 {
      height: 25vh;
      object-fit: cover;
      object-position: -4%;
      margin-block: 20px;
      overflow: hidden;
      object-fit: cover;

      @include on-tablet-big {
        height: 28vh;
        object-position: -25%;
        // object-position: -52%;
      }

      @include on-desktop {
        display: none;
      }
    }

    &-2 {
      object-fit: contain;
      transform: scale(2.4) translateY(-6%) translateX(1px);

      @include on-tablet-big {
        transform: scale(2.1) translateY(-6%) translateX(0px);
      }

      @include on-desktop {
        // display: none;
        transform: scale(1) translateY(-3%) translateX(0px);
        
      }
    }

    &-3 {
      height: 25vh;
      object-fit: cover;
      object-position: 105%;
      margin-bottom: 60px;


      @include on-tablet-big {
        height: 32vh;
        object-position: 120%;
      }

      @include on-desktop {
        display: none;
      }
    

    }
  }

  &__svg-mobileS {
    display: none;      
  }
  &__svg-mobileM {
    display: none;
  }
  &__svg-mobileL {
    display: none;
  }
  &__svg-tablet {
    display: none;
  }
  &__svg-tabletBig {
    display: none;
  }
  &__svg-desktop {
    display: none;
  }
  @include mobile-320 {
    &__svg-mobileS {
      display: block;
    }
  }

  @include mobile-between-320-375 {
    &__svg-mobileM {
      display: block;
    }
  }
  @include mobile-between-375-425 {
    &__svg-mobileL {
      display: block;
    }
  }
  @include on-tablet {
    &__svg-tablet {
      display: block;
    }
  }
  @include on-tablet-big {
    &__svg-tabletBig {
      display: block;
    }
  }
 
  @include on-desktop {
    &__svg-desktop {
      display: block;
    }
  }
  
  &__svg-mobileS {
    position: absolute;
    top: 5px;
    height: 100%;
    pointer-events: none;
    z-index: 2;

  }
  &__svg-mobileM {
    position: absolute;
    top: 5px;
    height: 100%;
    pointer-events: none;
    z-index: 2;
  }
  &__svg-mobileL {
    position: absolute;
    top: 5px;
    height: 100%;
    pointer-events: none;
    z-index: 2;
  }
  &__svg-tablet {
    position: absolute;
    top: 5px;
    height: 100%;
    pointer-events: none;
    z-index: 2;
  }
  &__svg-tabletBig {
    position: absolute;
    top: 5px;
    height: 100%;
    pointer-events: none;
    z-index: 2;
  }
  &__svg-desktop {
    position: absolute;
    top: 5px;
    height: 100%;
    pointer-events: none;
    z-index: 2;
  }
}
