@import './styles/main.scss';

.page {
  position: relative;
  color: $black-color;
  overflow-x: hidden;

}

.container {
  padding-inline: 10px;
  padding-block: 60px;

  @include on-tablet {
    @include page-grid;
    padding-inline: 24px;
    padding-bottom: 50px;
  }

  @include on-desktop {
    // padding-top: 20px;
    padding-inline: 30px;
    @include page-grid;
    padding-top: 20px;
    // max-width: 1136px;
    margin: 0 auto;
  }
}



