@use './styles/variables' as vars;
@use './styles/mixins' as mixins;

.page {
  position: relative;
  color: vars.$main-text-color;
  background-color: vars.$main-background-color;
}

.container {
  padding-inline: 10px;

  @include mixins.on-tablet {
    padding-inline: 24px;
  }

  @include mixins.on-desktop {
    padding-top: 20px;
    margin: 0 auto;
  }
}