@import './styles/main.scss';

.page {
  position: relative;
  color: $main-text-color;
  background-color: $main-background-color; 
}

.container {
  padding-inline: 10px;

  @include on-tablet {
    padding-inline: 24px;
  }

  @include on-desktop {
    padding-top: 20px;
    // padding-inline: 0;
    // max-width: 1136px;
    margin: 0 auto;
  }
}



