@use '../../../styles/main.scss';

.mobile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 10px;
  margin-bottom: 250px;
  
  @mixin on-tablet {
    display: none; 
  }

  @mixin on-desktop {
    display: none; 
  }

  &__icon {
    width: 60px;
    height: 60px;
    display: none; 
    
    @mixin only-mobile {
      display: block;
    }
  }

  &__burger-button {
    background: none;
    border: none;
    cursor: pointer;
    display: none; 
    
    @mixin only-mobile {
      display: block;
    }
  }
}
