@import'../../../styles/main.scss';

.mobile-header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 10px;
 
  &__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  @include on-tablet {
    display: none; 
  }
  @include on-tablet-big {
    display: none; 
  }

  @include on-desktop {
    display: none; 
  }

  &__icon {
    width: 60px;
    height: 60px;
    display: none; 
    
    @include only-mobile {
      display: block;
    }
  }

  &__burger-button {
    background: none;
    border: none;
    cursor: pointer;
    display: none; 
    
    @include only-mobile {
      display: block;
    }
  }
}
